configuration {
  font: "Fira Code Retina 12";
  fixed-num-lines: false;
  location: 2;
  yoffset: 200;
  terminal: "kitty";
  ssh-client: "ssh";
  ssh-command: "float_term {ssh-client} {host} [-p {port}]";
}

@theme "gruvbox-dark-hard"
