[Desktop Entry]
Name=nnn File Explorer
Comment=Browse files
Exec=invnnn %U
Terminal=false
Type=Application
Icon=terminal
Categories=Utility;
StartupNotify=true
MimeType=inode/directory;

